# ignore numdiff build:
numdiff/config.h
numdiff/config.log
numdiff/config.status
numdiff/Makefile
numdiff/numdiff
numdiff/ndselect

# ignore doxygen build:
doxygen/.makeconfig
doxygen/.tmakeconfig
doxygen/Makefile
doxygen/VERSION
doxygen/addon/doxmlparser/examples/metrics/Makefile
doxygen/addon/doxmlparser/examples/metrics/metrics.pro
doxygen/addon/doxmlparser/src/Makefile
doxygen/addon/doxmlparser/src/doxmlparser.pro
doxygen/addon/doxmlparser/test/Makefile
doxygen/addon/doxmlparser/test/xmlparse.pro
doxygen/addon/doxyapp/Makefile
doxygen/addon/doxyapp/doxyapp.pro
doxygen/addon/doxysearch/Makefile
doxygen/addon/doxysearch/doxyindexer.pro
doxygen/addon/doxysearch/doxysearch.pro
doxygen/addon/doxywizard/Makefile
doxygen/addon/doxywizard/doxywizard.pro
doxygen/doc/Makefile
doxygen/examples/Makefile
doxygen/generated_src/
doxygen/libmd5/Makefile
doxygen/libmd5/libmd5.pro
doxygen/qtools/Makefile
doxygen/qtools/qtools.pro
doxygen/src/Makefile
doxygen/src/doxygen.pro
doxygen/src/libdoxycfg.pro
doxygen/src/libdoxycfg.t
doxygen/src/libdoxygen.pro
doxygen/src/libdoxygen.t
doxygen/vhdlparser/Makefile
doxygen/vhdlparser/vhdlparser.pro
doxygen/bin/
doxygen/libmd5/Makefile.libmd5
doxygen/qtools/Makefile.qtools
doxygen/src/Makefile.doxygen
doxygen/src/Makefile.libdoxycfg
doxygen/src/Makefile.libdoxygen
doxygen/vhdlparser/Makefile.vhdlparser
